*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*p {*/
/*    text-indent: 20px;*/
/*}*/

.p-doctors {
    text-indent: 0;
}

.bkg-img {
    /*background: url(../images/moredrip.jpg) no-repeat;*/
    /*background: #a8faea;*/
    background-size: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 10px;
}

.header {
    background: #fafafa;
    min-height: 80px;
}

.elements-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emblem {
    margin-right: 35px;
}

.icon {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-el {
    display: flex;
}

.text-h {
    align-self: center;
    text-align: center;
}

.menu {
    background: #28868a;
}

.emblem-mobile {
    display: none;
}

.burger {
    display: none;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-li {
    flex-grow: 1;
    text-align: center;
    min-width: 140px;
}

.nav-a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
    width: 100%;
    padding: 15px 0;
    display: inline-block;
}

.nav-li:hover {
    background-color: #01b1b3;
}

.active-m {
    background-color: #01b1b3;
}

.slider{
    max-width: 100%;
    position: relative;

    height: 350px;
    /*margin-bottom: 130px;*/
    margin: auto;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}


.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    /*top: 0;*/
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slider-dots {
  text-align: center;

}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider_active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.main-image {
    height: 450px;
    background: url(../images/stvac.webp) center no-repeat;
    background-size: cover;
}

.main_news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main_news_block {
    flex-grow: 1;
    flex-basis: 550px;
    margin: 10px;
    box-shadow: 10px 7px 5px #01b1b3;
    display: flex;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    /*background-color: #28868a;*/
    /*width: 324px;*/
    height: 200px;
    text-align: center;
    /*padding-top: 62px;*/
    /*box-sizing: border-box;*/
    /*color: white;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #000;
    cursor: pointer;
}
.main_news_block:hover {
    position: relative;
    box-shadow: 15px 12px 5px #01b1b3;
    top: -5px;
    left: -5px;
}
.main_news_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}
.main_news_text h4 {
    font-size: 18px;
}
.main_news_text p {
    font-size: 17px;
}

.main_news_block img {
    display: block;
    height: 200px;
}

.gosuslugi_wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.useful {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.useful_block {
    margin: 20px 10px;
}

.useful a {
    text-decoration: none;
}

.useful_el {
    width: 288px;
    height: 121px;
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.useful_column {
    flex-direction: column;
}

.useful_img {
    display: block;
}

.useful_el p {
    font-family: sans-serif;
    color: #808080;
    font-size: 12px;
    margin: 5px 25px 0;
    text-align: center;
}

.middle {
}

.map {
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.footer {
    font-family: sans-serif;
    min-height: 400px;
    background-color: #004e51;
    color: white;
    padding-top: 40px;
    box-sizing: border-box;
}

.main-foo {
    display: flex;
    justify-content: space-between;
}

.contacts-foo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.cont-el {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.links-main {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.links-foo {
}

.navbar-foo {
    height: 280px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-foo-el {
    text-decoration: none;
    color: white;
}

.last-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.copy {
    text-align: center;
}

.doctors {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    margin-top: 20px;
}

.persons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.doctors_wrapper {
    background-color: #f6f5f5;
    flex: 0 0 370px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
    margin: 0 0 25px 0;
}

.doctors_item {
    display: flex;
    height: 100%;
}

.doctors_name {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #dadada;
    padding: 5px;
}
.doctors_name p:first-child {
    line-height: 20px;
    margin-bottom: 5px;
}
.doctors_name p:last-child {
    font-size: 14px;
    font-weight: 700;
}
.doctors_name span {
    font-size: 19px;
    font-weight: 700;
}

.doctors_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.doctors_desc p {
    color: #919695;
}
.doctors_desc h5 {
    font-size: 17px;
    line-height: 23px;
}

/* .speciality {
    margin-left: 5px;
    width: 15%;
    list-style-type: none;
} */

.spec-title {
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid #dadada;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 45px;
    text-align: center;
}

.spec-title:hover {
    background-color: #01b1b3;
}

.title_selection {
    height: 75px;
    /*background-color: #ffb8f88a;*/
    background: url(../images/nav.jpg) center no-repeat;
    background-size: cover;
    line-height: 75px;
}

.secondary_menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 30px;
}

.secondary-nav {
    text-decoration: none;
    color: black;
}

.about-menu {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.about-nav-bar {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about-nav-a {
    font-family: sans-serif;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 17px 20px 15px;
}

.about-nav-a:hover {
    box-shadow: 0 2px 0 red;
}

.table_doctor {
    margin-top: 30px;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

tr:first-child {
    height: 50px;
}

td {
    font-family: sans-serif;
    border: 1px solid #000;
    text-align: center;
}

.news_wrapper {
    padding: 80px 50px 50px 50px;
}

.news {

}

.news_item {
    margin: 0 0 10px 0;
}

.news_title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.news_title:before,
.news_title:after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 8px;
    transition: all 0.5s ease 0s;
}
.news_title:before {
    transform: rotate(40deg);
    left: 0;
}
.news_title:after {
    transform: rotate(-40deg);
    left: 8px;
}

.news_title.news_active:before,
.news_title.news_active:after {
    background-color: red;
}
.news_title.news_active:before {
    transform: rotate(-40deg);
}
.news_title.news_active:after {
    transform: rotate(40deg);
}

.news_margin {
    height: 10px;
}
.news_text {
    display: none;
    /*padding: 10px 0 0 0;*/
    transition: all .5s ease;
    overflow: hidden;
}
.news_text_open {
    display: block;
}

.license {
    margin-top: 10px;
}

.license_img {
    cursor: pointer;
}

.license_preview_main,
.license_preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.license_preview {
    justify-content: space-around;
}

.galleryWrapper {
    display: none;
}

.galleryWrapper__active {
    display: block;
}

.galleryWrapper_screen{
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
}
.galleryWrapper_image {
    max-height: 100%;
    z-index: 101;
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.galleryWrapper_close {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 33.5px;
    width: 50px;
    z-index: 102;
    cursor: pointer;
}
.galleryWrapper_close:before {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    top: 16px;
    transform: rotate(-45deg);
}
.galleryWrapper_close:after {
    content: '';
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 3px;
    bottom: 15px;
    transform: rotate(45deg);
}

.paid_content {
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.paid_title {
    color: #3e3c3c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.paid_documents {}

.paid_links {}

.paid_links_list {
    list-style-type: none;
}

.paid_links_list li{
    margin-bottom: 10px;
}

.paid_links_list a {
    text-decoration: none;
    color: #939494;
}
.paid_links_list a:hover {
    color: #000000;
}

.description {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 40px;
}

.desc-title {
    text-align: center;
    margin: 10px 0;
}

.photo_crb img {
    max-width: 100%;
}

.security p {
    line-height: 25px;
    margin-bottom: 10px;
}
.security a {
    color: #939494;
    text-decoration: none;
}
.security a:hover {
    color: #070707;
}

.about_document {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.about_document_item {
    margin: 5px;
}

.about_document_item a {
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    background-color: #e7eeee;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    text-decoration: none;
}
.about_document_item a:hover {
    background-color: #d7e4e4;
}

.health_list {
    list-style-type: circle;
    padding-left: revert;
}

.health-p {
    text-align: center;
    text-decoration: underline;
}

.active {
    box-shadow: 0 2px 0 red;
}

.working-mode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pricelist_wrapper {
    margin-top: 30px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1;
}

.pricelist {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 30px;
}

.pricelist_block {
    cursor: pointer;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    min-height: 50px;
    padding: 10px;
}

.pricelist_block_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_list_title {
    flex-basis: 95%;
    text-shadow: 3px 3px 8px #8be0e5;
}

.price_list_plus {
    height: 26px;
    width: 26px;
    position: relative;
}

.price_list_plus span {
    height: 2px;
    width: 100%;
    background-color: #808080;
    position: absolute;
    left: 0;
    top: 13px;
    transition: .5s;
}
.price_list_plus span:after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #808080;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(90deg);
    transition: .5s;
}

.price_list_open {
    transform: rotate(45deg);
}

.pricelist_price_wrapper {
    display: none;
    transition: .5s;
}
.pricelist_price_active {
    display: block;
    height: 0;
    overflow: hidden;
}
.pricelist_price_down {
    margin-top: 10px;
}

.pricelist_price {}

.pricelist_price_item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.pricelist_price_item:nth-child(odd) {
    background-color: #a4edf082;
}

.pricelist_price_item p:last-child{
    margin-left: 10px;
    align-self: center;
}
.pricelist_price_center {
    justify-content: center;
}

.proph_content {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.proph_text {}

.proph_theme {
    margin-bottom: 20px;
}
.proph_theme h5 {
    font-size: 18px;
    margin-bottom: 5px;
}

.proph_list {
    margin: 0 0 5px 30px;
}

.proph_list_dash {
    margin: 0 0 5px 30px;
    list-style-type: circle;
}

@media (max-width: 660px) {
    .icon {
        justify-content: flex-start;
    }

    .pricelist_wrapper, .secondary_menu {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    body[lock] {
        overflow: hidden;
    }

    .header {
        display: none;
    }

    .menu {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;
    }
    .menu:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #28868a;
        z-index: 2;
    }

    .menu-burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    .emblem-mobile {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .a-logo {
        flex: 0 0 53px;
    }

    .logo {
        display: block;
        max-width: 100%;
    }

    .burger {
        position: relative;
        z-index: 2;
        display: block;
        width: 30px;
        height: 20px;
    }

    .burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger:before,
    .burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .burger[active] span {
        transform: scale(0);
    }

    .burger[active]:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .burger[active]:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .navbar {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #01b1b3;
        overflow: auto;
        width: 100%;
        height: 100%;
        padding: 55px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .navbar[active] {
        top: 0;
    }

    .nav-li {
        text-align: left;
    }

    .nav-a {
        padding: 12px 0;
    }

    .main-image {
        margin-top: 50px;
    }

    .title_selection {
        margin-top: 50px;
        height: 55px;
        line-height: 55px;
    }

    .secondary_menu {
        margin-left: 1px;
    }

    .galleryWrapper_image {
        max-width: 90%;
        max-height: 90%;
    }

    .galleryWrapper_close {
        top: 5px;
        right: 5px;
    }

    .main-foo {
        flex-direction: column;
    }

    .contacts-foo p {
        padding: 10px 0;
    }

    .links-main {
        margin-top: 20px;
        width: 100%;
        justify-content: flex-start;
    }

    .links-foo {
        margin-bottom: 17px;
    }

    .media-lf {
        display: none;
    }

    .photo_crb img{
        width: 740px;
    }

    .paid_content {
        margin-top: 10px;
    }

    .paid_title {
        margin-bottom: 5px;
    }

    .persons {
        justify-content: space-around;
    }

    .doctors_wrapper {
        flex: 0 0 250px;
        height: 300px;
        margin: 0 0 20px 0;
    }
    
    .doctors_item {
        flex-direction: column;
    }
    
    .doctors_name {
        border-right: none;
        border-bottom: 1px solid #dadada;
    }
}

@media (max-width: 425px) {
    .license_img {
        width: 300px;
    }

    .photo_crb {
        display: none;
    }

    .galleryWrapper_close {
        height: 20px;
        width: 30px;
    }
    .galleryWrapper_close:before {
        top: 9px;
    }
    .galleryWrapper_close:after {
        bottom: 8px;
    }
}
